<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="BaseUri" value="https://+:444/" xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.MultipleLogger.MultiLoggerFactoryAdapter, Common.Logging.MultipleLogger">
        <arg key="level" value="Error" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
      </factoryAdapter>
    </logging>
    <logging.multipleLoggers>
      <factoryAdapter type="SchoolExpress.WebService.Utils.ColoredConsoleOutLoggerFactoryAdapter, SchoolExpress.WebService" xdt:Transform="Remove" />
    </logging.multipleLoggers>
  </common>
  <system.diagnostics>
    <switches>
      <add name="sourceSwitch" value="Error" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </switches>
  </system.diagnostics>
</configuration>